fastapi>=0.111.0
uvicorn>=0.30.1
pydantic>=2.7.4

# Vector DB & Embeddings (Hybrid Search)
qdrant-client>=1.9.1
fastembed
sentence-transformers
torch
transformers
tokenizers

# Document Ingestion
pymupdf
langchain-text-splitters
numpy

# LLM (Groq)
groq

# Env vars & Utils
python-dotenv
tqdm
